<div class="container"> <!-- si usas solo container-fluid, quita los margenes a los lados -->
    <div class="row align-items-center">
      <div class="col-lg-6 my-4">

        <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" [className]="'btn-info'"></app-form-new-item>
        <!-- Si ha [className] no le pasamos nada, recogera la que tiene predeterminada que es la primary que le pasamos en el ts de form-new-item -->

      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <ul>
          <app-list-cities *ngFor="let city of cities" 
          (cityClickedEvent)="cityCliked(city)" [city]="city" [selection]="selection"></app-list-cities>
        </ul>
      </div>
      <div class="col-lg-4">

        <div *ngIf="selection">
          <p>Your city: {{selection}}</p>
          <!-- <button (click)="Clear()">Clear selection</button> -->
          <app-button (click)="Clear()" [color]="'black'" [label]="'Clear Selection'" [selection]="selection"></app-button>
          <!-- Lo que lo hace reciclable para hacer mas botones, cambiando nombre y color de fondo -->
        </div>

      </div>
    </div>
</div>
