/* You can add global styles to this file, and also import other style files */
.selected{
    background-color: darkred;
    color: white;
    padding: 5px;
}
.unselected{
    border: black;
    border-style: solid;
    padding: 5px;
}

ul{
    list-style-type: none;
}