<div class="container"> <!-- si usas solo container-fluid, quita los margenes a los lados -->
    <div class="row align-items-center">
      <div class="col-lg-6 my-3">

        <app-form-new-item (newItemEvent)="addNewCity($event)" [label]="'City'" 
                          [className]="'btn-info'" [selection]="selection"
                          (updateItemEvent)="updateCity($event)"></app-form-new-item>
        <!-- Si ha [className] no le pasamos nada, recogera la que tiene predeterminada que es la primary que le pasamos en el ts de form-new-item -->

      </div>
      <div class="col-lg-6 my-3">
        <input type="text" class="form-control" placeholder="Filter....." [(ngModel)]="criterio">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-lg-8">
        <app-list-cities *ngFor="let city of (cities | filter: criterio)" 
                    (citySelectedEvent)="onCitySelected($event)" [city]="city" 
                    [selection]="selection" (cityDeleteEvent)="onCityDeleted($event)"></app-list-cities>
      </div>
      <div class="mt-4">
        <p>{{'03/01/2024, 12:13' | date:'full'}}</p>
        <p>{{'07/12/2023, 00:13' | date:'short' | uppercase}}</p>
      </div>

      <hr>
      <app-card>
        <div card-header> TITULO </div>
        <div card-body> Relleno </div>
      </app-card>
      <hr>
      <app-card>
        <div card-header> ESPÑITA </div>
        <div card-body> Lista de pueblitos </div>
      </app-card>
      <div class="col-lg-4">
        <div *ngIf="selection?.name">
          <p>Your city: {{selection.name | titlecase}}</p>
          <!-- <button (click)="Clear()">Clear selection</button> -->
          <app-button (click)="Clear()" [label]="'Clear Selection'" ></app-button>
          <!-- Lo que lo hace reciclable para hacer mas botones, cambiando nombre y color de fondo -->
        </div>
      </div>

    </div>

</div>